<nav class="navbar bg-primary  sticky-top navbar-expand-md rounded border mb-2">
  <a class="navbar-brand p-4 pb-0 pt-0 text-light" href="#">Chess analyse app</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="col navbar-nav mr-5 d-flex>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">All reports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/create"
          >Create report</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
