<nav class="navbar bg-primary sticky-top navbar-expand-md rounded">
  <a class="navbar-brand text-light p-4 pb-0 pt-0" href="/">
    <i class="fa-solid fa-chess-king fa-2x"></i>
    Chess analyse app
  </a>

  <div class="collapse navbar-collapse align-self-end" id="navbarCollapse">
    <ul class="col navbar-nav mr-5 d-flex">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/reports"
          >All reports</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/create"
          >Create report</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
