{% extends 'base.html' %} {% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">created_at</th>
      <th scope="col">username</th>
      <th scope="col">time_class</th>
      <th scope="col">games</th>
      <th scope="col">depth</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    {% for raport in object_list %}
    <tr>
      <th scope="row">{{raport.id}}</th>
      <td>
        <a href="{{ raport.id }}/visualized">{{raport.created}}<a/>  
        
          </td>
      <td>{{raport.username}}</td>
      <td>{{raport.time_class}}</td>
      <td>{{raport.games_num}}</td>
      <td>{{raport.engine_depth}}</td>
       
      {% if raport.analyzed_games == raport.games_num %}
      <td>SUCCESS</td>
      {% elif  raport.analyzed_games == -1%}
      <td>FAILED</td>
      {% else %}
      <td>{{raport.analyzed_games}}/{{raport.games_num}}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
  {% endblock %}