

{% extends 'base.html' %} {% block content %}
{% if not object or object.analyzed_games != object.games_num %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>We are creating your report!</strong> please wait 👏
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
  </button>
</div>
{% endif %}



<h1 class = "display-1" style="text-align: center;">{{object.username}}</h1>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>



<div class="row">
<div class= 'card card-chart col-lg-8'>
      <canvas id="bar_chart"></canvas>
  </div>
<div class="col-lg-4"> 
  <div class="card w-45 card-nav-tabs">
      <div class="card-header card-header-success">
        Quote
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p> ✅  You doing great</p>
        </blockquote>
        <blockquote class="blockquote mb-0">
          <p> ❌ Your performance is much better when you play as white  </p>
        </blockquote>
        <blockquote class="blockquote mb-0">
          <p> ❌ I do not belive that anyone read that text  </p>
        </blockquote>
    </div>
  </div>
</div>
  </div>
</div>
<hr>  
<div class="col-lg-8">
<div class= 'card card-chart'>
      <canvas id="elo_over_time_chart"></canvas>
  </div>
    </div>
<hr>  
<div class="col-lg-8">
<div class= 'card card-chart'>
      <canvas id="white_openings_chart"></canvas>
  </div>
    </div>
<hr>  
<div class="col-lg-8">
<div class= 'card card-chart'>
      <canvas id="black_openings_chart"></canvas>
  </div>
    </div>
<hr>  
<div class="col-lg-8">
<div class= 'card card-chart'>
      <canvas id="mistakes_per_phase_chart"></canvas>
  </div>
    </div>
<hr>  
 
<h4>{{ object|json_script:"data" }}</h1>
<hr class="mt-0 mb-4" />
{% load static %}
<script src="{% static 'js/elo_over_time_chart.js' %}"></script>
<script src="{% static 'js/win_ratio_chart.js' %}"></script>
<script src="{% static 'js/openings_chart.js' %}"></script>
<script src="{% static 'js/mistakes_per_phase_chart.js' %}"></script>

{% endblock %}
