{% extends 'base.html' %} {% block content %}

<div class="row align-items-center justify-content-center m-0">
  <div class="contianer col-9 m-4">
    <h1 class="display-3">Report details</h1>
    <hr />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">game</th>
          <th scope="col">result</th>
          <th scope="col">player color</th>
          <th scope="col">time_class</th>
          <th scope="col">date</th>
          <th scope="col">opening</th>
        </tr>
      </thead>
      {% for game in object %}
      <tbody>
        <tr>
          <th scope="row">{{game.id}}</th>
          <td>{{game.result}}</td>
          <td>{{game.player_color}}</td>
          <td>{{game.time_class}}</td>
          <td>{{game.date}}</td>
          <td>{{game.opening}}</td>

          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
