<div class="sidebar" data="blue">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini"> </a>

    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      reports
    </a>
  </div>
  <div class="sidebar-wrapper color-primary">
    <ul class="nav">
      {% for item in object.all_reports %}
      <li class="nav-item">
        <a class="nav-link" href="#0">
          <a
            href="./{{item.id}}"
            style="font-size: small"
            class="display-6"
            color="secondary"
            >Report for {{item}}</a
          >
          <hr />
        </a>
        <hr />
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
