{% extends 'base.html' %} {% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="../static/js/chartInterface.js" type="module" defer></script>
<script src="../static/js/win_ratio_chart.js"  type="module" defer></script>
<script src="../static/js/openings_chart.js"   type="module" defer></script>
<script src="../static/js/elo_over_time_chart.js" type="module" defer></script>
<script src="../static/js/mistakes_per_phase_chart.js"  type="module" defer></script> 
{% endblock %} {% block content %}
<h4>{{ object|json_script:"data" }}</h4>

<div class="row align-items-center justify-content-center m-0">
  <div class="contianer col-9">
    <h1 class="display-4">
      Report for
      <span ">
        <code> {{object.Xusername.chess_com}} </code>
        <code> {{object.Xusername.lichess_org}} </code>
      </span>
    </h1>
    <hr />
    {% if not object or object.Xanalyzed_games == 0 %}
    <div class="alert alert-info" role="alert">Gathering data...</div>
    {% elif object.Xanalyzed_games == -1 %}
    <div class="alert alert-danger" role="alert">
      Failed to create report: {{object.Xfail_reason}}
    </div>
    {% elif object.Xanalyzed_games < object.Xgames_num %}
    <div class="alert alert-primary" role="alert">
      We are still analizing games from ❗ please wait.
      ({{object.Xanalyzed_games}}/{{object.Xgames_num}})
    </div>
    {% endif %}
    <div class="rounded mt-5 mb-5">
      {%for statistic_name in object.keys%}
      <p></p>
      {% if not statistic_name|first in 'X' %}
      <p></p>
      {% include 'report_visualized.html'%}
      <hr class="text-light mt-4 mb-4" />
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
