{% extends 'base.html' %} {% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="../static/js/win_ratio_chart.js" defer></script>
{% endblock %} {% block content %}
<h4>{{ object|json_script:"data" }}</h4>
<div class="row align-items-center justify-content-center m-0">
  <div class="contianer col-9">
    <h1 class="display-3">
      Report for <span class="text-warning">{{object.username}}</span>
    </h1>
    <hr />
    {% if not object or object.analyzed_games == 0 %}
    <div class="alert alert-info" role="alert">Gathering data...</div>
    {% elif object.analyzed_games == -1 %}
    <div class="alert alert-danger" role="alert">
      Failed to create report: {{object.fail_reason}}
    </div>
    {% elif object.analyzed_games < object.games_num %}
    <div class="alert alert-primary" role="alert">
      We are still analizing games from ❗ please wait.
      ({{object.analyzed_games}}/{{object.games_num}})
    </div>
    {% endif %}
    <div class="rounded mt-5">{% include 'report_visualized.html' %}</div>
  </div>
</div>
{% endblock %}
