{% extends 'base.html' %} {% block extra_head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"
/>
<script
  type="text/javascript"
  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"
></script>

{% endblock %} {% block content %}
<!-- centered container -->
<div class="row align-items-center justify-content-center m-0">
  <div class="contianer col-12 col-lg-9 m-0 m-lg-4">
    <h1 class="display-3">All reports</h1>
    <hr />
    <div class="table-responsive">
      <table class="table table-striped" id="reportsTable">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Created</th>
            <th scope="col">
              <a class="text-light" href="https://www.chess.com/">Chess.com</a>
              username
            </th>
            <th scope="col">
              <a class="text-light" href="https://lichess.org/">Lichess.org</a>
              username
            </th>
            <th scope="col">status</th>
            <th scope="col">time class</th>
            <th scope="col">games</th>
            <th scope="col">Depth</th>
            <th scope="col">Visual</th>
            <th scope="col">List</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% if not object_list %}
          <tr>
            <td colspan="8">No reports</td>
          </tr>

          {% else %} {% for report in object_list %}
          <tr>
            <th scope="row">{{report.id}}</th>
            <td>{{report.created}}</td>
            <td><code> {{report.chess_com_username}}</code></td>
            <td><code> {{report.lichess_username}}</code></td>
            {% if report.analyzed_games == report.games_num %}
            <td><span class="alert alert-success p-1">Success</span></td>
            {% elif report.analyzed_games == -1%}
            <td><span class="alert alert-danger p-1">Failed</span></td>
            {% else %}
            <td>
              <span class="alert alert-primary p-1"
                >{{report.analyzed_games}}/{{report.games_num}}</span
              >
            </td>
            {% endif %}
            <td>{{report.time_class}}</td>
            <td>{{report.games_num}}</td>
            <td>{{report.engine_depth}}</td>

            <td>
              <a
                class="btn btn-outline-success"
                href="/{{ report.id }}/visualized"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-bar-chart"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 11H2v3h2v-3zm5-4H7v7h2V7zm5-5v12h-2V2h2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1h-2zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3z"
                  />
                </svg>
              </a>
            </td>
            <td>
              <a class="btn btn-outline-light" href="/{{ report.id }}">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-list-ol"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"
                  />
                  <path
                    d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z"
                  />
                </svg>
              </a>
            </td>
            <td>
              <form action="/{{ report.id }}/delete" method="POST">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type="submit">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"
                    />
                    <path
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"
                    />
                  </svg>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>
    </div>
    <!-- create new report button -->

    <div class="pt-5">
      <a href="/create" class="btn btn-success col-4">Create new report</a>
    </div>
  </div>
</div>
<script>
  // $(document).ready(function () {
  //   $("#reportsTable").dataTable(
  //   // dark theme
  //   {
  //     dom: "Bfrtip",
  //     buttons: ["copy", "csv", "excel", "pdf", "print"],
  //     responsive: true,
  //     ordering: false,
  //     info: false,
  //     searching: false,
  //   }

  //   );
  // });
</script>
{% endblock %}
