<div class="row">
  <div class="col-lg-8 p-0 p-lg-1 col-12">
    <div class="card card-chart">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-6 text-left">
            {% load custom_filters %}
            <h3 class="card-title">
              {{ statistic_name | snake_to_user_readable }}
            </h3>
          </div>
          <div class="col-sm-6">
            <div class="btn-group" role="group">
              <input
                type="radio"
                class="btn-check"
                name="btnradio_{{statistic_name}}"
                id="{{statistic_name}}_total"
                autocomplete="off"
                checked
              />
              <label
                class="btn btn-outline-warning"
                for="{{statistic_name}}_total"
                >All</label
              >
              <input
                type="radio"
                class="btn-check"
                name="btnradio_{{statistic_name}}"
                id="{{statistic_name}}_chess_com"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-warning"
                for="{{statistic_name}}_chess_com"
                >Chess.com</label
              >
              <input
                type="radio"
                class="btn-check"
                name="btnradio_{{statistic_name}}"
                id="{{statistic_name}}_lichess_org"
                autocomplete="off"
              />
              <label
                class="btn btn-outline-warning"
                for="{{statistic_name}}_lichess_org"
                >lichess</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card-body col-12">
        <canvas id="{{statistic_name}}_chart"></canvas>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4 p-0 p-lg-1 mt-2 mb-2 m-lg-0">
    <div class="card mb-2">
      <div class="card-header">
        <h2 class="card-title">About</h2>
      </div>
      <div class="card-body">
        {% with s=object|getattr:statistic_name %} {{s.about|safe}} {%endwith%}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Conclusion</h2>
      </div>
      <div class="card-body">
        {% for conclusion in object.win_ratio_per_color_conclusions %}
        <blockquote class="blockquote">
          <p>
            {% if conclusion.1 == 1 %} ✅ {% else %} ❌ {% endif %}
            {{conclusion.0 }}
          </p>
        </blockquote>
        <hr class="text-light" />
        {% endfor %}
      </div>
    </div>
  </div>
</div>
